# Supabase
SUPABASE_URL=
SUPABASE_ANON_KEY=
SUPABASE_SERVICE_ROLE_KEY=

# Admin auth
SESSION_SECRET=
ADMIN_SETTINGS_SECRET=
ADMIN_UPDATE_MASTER_PASSWORD=

# ImgBB
IMG_BB_API_KEY=

# Google Sheets
SHEETS_KEY=
PUBLIC_SHEETS_PROTECTION_KEY=
